@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #1b212d;
}

/* HEADER */
header {
  position: fixed;
  top: 0px;
  width: 100%;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0vw 5vw 0;
  background-color: rgb(27, 33, 45, 0.85);
}

#mobile-nav {
  display: none;
}

.logo-cont {
  display: flex;
  align-items: center;
  width: 15%;
}

.logo-cont h1 {
  color: #ebebed;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.links {
  font-size: 1.2rem;
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

.links a {
  text-decoration: none;
  color: #fb6e1f;
}

.header-download-container {
  display: flex;
  justify-content: end;
  width: 15%;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ededed;
  color: #1b212d;
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 16px;
  border: none;
  transition: all 0.3s;
  gap: 4px;
}

.download:hover {
  cursor: pointer;
  background-color: #cac9c9;
}

.download span {
  padding-left: 6px;
}

.download img {
  width: 20px;
  height: 20px;
}

#menu-icon {
  display: none;
}

/* PRODUCT SECTION */
section.product {
  display: flex;
  justify-content: space-between;
  padding: 8vw 5vw 0;
  height: 100vh;
  background-color: #1b212d;
}

.prod-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 8rem 0;
}

.prod-info h1 {
  font-size: 4rem;
  color: #ebebed;
  margin-bottom: 0.8rem;
}

.prod-info p {
  font-size: 1em;
  color: #ebebed;
}

.mobile-download-container {
  visibility: hidden;
}

.product-image {
  display: flex;
  width: 45%;
  justify-content: flex-end;
  align-items: flex-end;
}

.product-image img {
  height: 80%;
  margin-bottom: 1rem;
}

/* ABOUT SECTION */
section.about {
  padding: 8vw 5vw 0;
  height: 100vh;
  background-color: #ebebed;
  display: flex;
  justify-content: end;
  text-align: right;
}

.about-cont {
  width: 45%;
  margin-bottom: 0.8rem;
}

.about-cont h1 {
  font-size: 4rem;
  color: #1b212d;
}

.about-cont p {
  font-size: 1rem;
  color: #1b212d;
}

/* CONTACT SECTION */
section.contact {
  display: flex;
  flex-direction: column;
  padding: 8vw 5vw 0;
  min-height: 100vh;
  background-color: #1b212d;
}

.contact h1 {
  font-size: 4em;
  color: #ebebed;
  text-align: center;
  margin-bottom: 100px;
}

/* CARDS */
.cards-cont {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #ebebed;
  border-radius: 5%;
  padding: 2rem 1.7rem 0.8rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  margin: 0.8rem;
}

.card:hover {
  box-shadow: 0 0px 20px #ebebed;
  transform: scale(1.05);
}

.card:hover .card-pic {
  transform: scale(1.05);
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-pic {
  width: 120px;
  height: 120px;
  transition: transform 0.2s ease;
  margin-bottom: 1em;
}

.card-pic img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.card-name {
  margin: 0.5em;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
}

.card-role {
  color: #92999c;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.card-social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
  align-items: center;
}

.card-social li {
  list-style: none;
}

.social img {
  width: 30px;
  height: 30px;
}

footer {
  width: 100%;
  padding: 1rem 5%;
  background-color: #ebebed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer p {
  font-size: 1.2em;
  display: flex;
}

.footer-links-cont {
  width: 350px;
}

.footer-links {
  list-style: none;
  display: inline-block;
  font-size: 1em;
}

.footer-links a {
  color: #1b212d;
  text-decoration: none;
  margin-right: 30px;
}

.footer-links a:hover {
  color: #fb6e1f;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-social {
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.footer-social img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

/* TABLET RESPONSIVE */
@media (max-width: 1100px) {
  .footer-links-cont {
    width: 200px;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .footer-logo p {
    font-size: 0.8rem;
  }

  .footer-social {
    width: 200px;
  }

  .footer-social h2 {
    font-size: 1.2rem;
  }

  .footer-social img {
    width: 20px;
    height: 20px;
  }
}

/* MOBILE RESPONSIVE */
@media (max-width: 860px) {
  header ul {
    visibility: hidden;
  }

  header {
    position: sticky;
  }

  .header-download-container {
    visibility: hidden;
    
  }

  #menu-icon {
    display: block;
  }

  .mobile-download-container {
    visibility: visible;
  }

  
  #mobile-nav {
    position: fixed;
    background-color: #1b212d;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
  }
  
  #mobile-nav.show {
    display: flex;
  }

  #mobile-nav ul {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  #mobile-nav ul li {
    display: block;
  }

  .mobile-download {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ededed;
    color: #1b212d;
    font-size: 0.9em;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 16px;
    border: none;
    transition: all 0.3s;
    gap: 4px;
  }

  .mobile-download:hover {
    cursor: pointer;
  }

  .mobile-download span {
    padding-left: 6px;
  }

  .mobile-download img {
    width: 20px;
    height: 20px;
  }

  .logo {
    width: 35px;
    height: 35px;
  }

  .logo-cont h1 {
    font-size: 1.2rem;
  }

  section.product {
    display: flex;
    flex-direction: column;
    padding: 4vw 5vw 0;
    height: 100vh;
    background-color: #1b212d;
  }

  .prod-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }

  .prod-info h1 {
    font-size: 2em;
    color: #ebebed;
  }

  .prod-info p {
    margin-top: 0.6em;
    font-size: 0.8em;
    color: #ebebed;
  }

  .product-image {
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .product-image img {
    height: 200px;
    margin-bottom: 5rem;
  }

  section.about {
    flex-direction: column;
    justify-content: start;
  }

  .about-cont {
    width: 100%;
    margin-top: 2rem;
  }

  .about-cont h1 {
    font-size: 2em;
    color: #1b212d;
  }

  .about-cont p {
    margin-top: 0.6em;
    font-size: 0.8em;
    color: #1b212d;
  }

  .contact h1 {
    font-size: 2.5em;
    margin-bottom: 4rem;
  }

  .card {
    width: 300px;
    height: 150px;
    padding: 0.5rem 0 0.5rem 0;
    margin: 0.8rem;
  }

  .card:hover {
    transform: none;
    box-shadow: none;
  }

  .card:hover .card-pic {
    transform: none;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-pic {
    width: 50px;
    height: 50px;
    margin-bottom: 0em;
  }

  .card-pic img {
    width: 100%;
    height: 100%;
  }

  .card-name {
    margin: 0.3rem;
    font-size: 1rem;
  }

  .card-role {
    font-size: 0.6rem;
    margin-top: 0rem;
  }

  .card-social {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card-social li {
    list-style: none;
  }

  .social img {
    width: 20px;
    height: 20px;
  }
}
